body {
  max-width: 380px;
  margin: auto;
  text-align: center;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

header {
  border-top: #57BB6B solid 12px;
  background: url(../img/fond-fruits.png);
  background-size: cover;
  padding: 30px;
}

.box-title {
  background-color: #FFFFFFE6;
  padding: 10px 50px;
  margin-bottom: 30px;
  text-align: center;
}

.slogan {
  color: #57BB6B;
  font-size: 20px;
  font-family: 'Quattrocento', serif;
}

a {
  font-family: 'Maven Pro', serif;
  font-weight: 700;
  color: #000;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  background-color: #57BB6B;
  color: #fff;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

.cta-light {
  background-color: #fff;
  color: #57BB6B;
}

h2 {
  font-size: 26px;
  margin: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 700;
}

h3 {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  margin: 0;
}

.sous-titre {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  font-weight: 400;
}

.produits-box .sous-titre {
  opacity: 0.5;
  margin-top: 0;
}

.cafe p {
  color: #fff;
  opacity: 0.5;
}

.picto {
  max-width: 28px;
}

.picto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.produits-box .picto {
  max-width: 82px;
}

.section-green {
  background-color: #57BB6B;
  color: #fff;
  padding: 40px 20px;
}

.section-light {
  padding: 30px;
  background-color: #fff;
}

main .section-light {
  padding: 60px 45px;
}

.produits-box {
  border-radius: 30px;
  padding: 30px;
  margin: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 1px 1px 7px black;
  color: #000;
}

.banane {
  background-color: #FFF8D7;
}

.kiwi {
  background-color: #C4F2AD;
}

.cafe {
  background-color: #D3C6B2;
}

.fraise {
  background-color: #F7A4B4;
}

footer {
  color: #57BB6B;
}

.credits {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 60px 0 40px 0;
}
