body {
  max-width: 380px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

header {
  border-top: #57BB6B solid 12px;
  background: url(../img/fond-fruits.png);
  padding: 30px;
}

.box-title {
  background-color: #fff;
  padding: 10px 50px;
  margin-bottom: 30px;
  text-align: center;
}

.slogan {
  color: #57BB6B;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  background-color: #57BB6B;
  color: #fff;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 5px;
}

.cta-light {
  background-color: #fff;
  color: #57BB6B;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

.fruits-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-green {
  background-color: #57BB6B;
  color: #fff;
}

.produits-box {
  color: #000;
}

footer {
  color: #57BB6B;
}
